{% extends 'meetups/base/base.html' %}

{% load static %}

{% block title %}All Meetups{% endblock %}

{% block site_css %}
    <link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}">
{% endblock %}

{% block main_heading %}
Below are meetups which are coming up shortly!
{% endblock %}

{% block header_content %}
    <p>Find the one which interests you the most.</p>
{% endblock %}

{% block body %}
    <section>
        <h3>Upcoming meetups</h3>
        <ol>
            {% for m_item in meetups %}
                {% include 'meetups/includes/meetup-item.html' with title=m_item.title location=m_item.location %}
            {% endfor %}
        </ol>
    </section>
{% endblock %}

<!-- <h3>All Meetups</h3>
<p>Hello World! These are all the meetups.</p> -->
<!-- Interpolation syntax: Output content stored inside a variable. Variables are those which were injected
into the template from the third argument of render() inside views. The key of the dictionary has to be used -->

<!-- Conditional checks -->
<!-- {% if show_meetups %}
    {% for data in meetups %}
        <p>{{ data.title }}</p>
    {% endfor %} -->
<!-- conditional execution -->
<!-- {% else %}
    <p>No meetups found!</p>
{% endif %} -->

<!-- Django template to get the first value of a dictionary [ variable.index.key equivalent to variable[index][key] ] -->
<!-- <h4>{{ meetups.0.title }}</h4> -->